body{
  background-color: #f0f0f5;
}

p.fourteen {
  background-color: #1a53ff;
}

p.thirteen {
  background-color: #3366ff;
}

p.twelve {
  background-color: #4d79ff;
}

p.eleven {
  background-color: #668cff;
}

p.ten {
  background-color: #809fff;
}

p.nine {
  background-color: #99b3ff;
}

p.eight {
  background-color: #b3c6ff;
}

p.seven {
  background-color: #ffffff;
}

p.six {
  background-color: #4d79ff;
}

p.five {
  background-color: #1a53ff;
}

p.four {
  background-color: #3366ff;
}

p.three {
  background-color: #4d79ff;
}

p.two {
  background-color: #1a53ff;
}

p.one {
  background-color: #3366ff;
}

p.zero {
  background-color: #4d79ff;
}
